

.accordion {
    margin: 20px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 100px;
}

.accordion-button {
    background-color: #f3ecec;
    color: #0a0000; 
    font-size: 30px;
    font-family: "PT Sans Narrow"; 
    text-align: center;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(55, 28, 28, 0.1); 
    font-weight: lighter; 
    border: none; 
    outline: none; 
}

/*ChatGPT's solution*/
.accordion-button:not(.collapsed) {
    background-color: #ffffff; 
    color: #000000; 
    border: none; 
    outline: #971515; 
    box-shadow: #971515; 
}



.accordion-button.collapsed {
    color: #000000; 
    border: none; 
    outline: none; 
    box-shadow: none; 
}

.accordion-button:focus {
    box-shadow: none; 
}

.content-container {
    display: flex;
    align-items: center; 
    column-gap: 30px;
    padding: 15px; 
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(47, 10, 10, 0.1); 
    margin: 10px; 
}

.content-container .accordion-body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8; 
    color: #333; 
    padding-bottom: 15px;
    text-indent: 15px;
}

.content-flex {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.text-container {
    flex: 1; 
    padding-right: 40px; 
}

.accordion-body a {
    display: block;
    text-align: right;
    margin-right: 15px; 
    color: #971515;
}

.image-container {
    flex-basis: 50%; 
    box-shadow: 5px 5px 5px rgba(55, 28, 28, 0.1); 
}

.image-container img {
    width: 100%; 
    height: auto;
    border-radius: 20%; 
}
