#title h1 {
      margin: 20px;
    font-family: "American Typewrite"r, serif;
    font-size: 35px;
    font-stretch: expanded;
    padding: 20px;
    text-align: center;
    text-shadow: #e21e1e;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.content {
    padding: 16px;
    color: #424242;
    justify-content: center;
    font-family: "American Typewriter", serif;
    font-weight: lighter;
}

.footer {
    padding: 4px;
    margin: 4px;
    border: 1px dotted black;
    font-family: "American Typewriter", serif;
}

.footer span {
    font-weight: bold;
}

#biography {
    font-size: 16px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#carousel-inner > .carousel-item {
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    display: inline-block;
}

#attribution {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#linktotimeline {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}
#carousel {
    object-fit: contain;
    margin: auto;
    justify-content: left;
}

.carousel-control-prev-icon{
    position:-ms-device-fixed;
    top:200px;
    z-index: 5;
}

.carousel-control-next-icon {
    position:-ms-device-fixed;
    top:200px;
    z-index: 5;
}

.carousel-item {
    overflow: hidden;
}
.carousel-caption { top: 100%; }
.carousel-inner { overflow: visible; }

#timeline-embed p {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
}

#timeline-embed .tl-credit {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 10px;
    line-height: 12px;
}

#timeline-embed .tl-caption {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
}

/*#timeline-embed h2.tl-headline-title {}*/

