#title h1 {
      margin: 20px;
    font-family: "American Typewrite"r, serif;
    font-size: 35px;
    font-stretch: expanded;
    padding: 20px;
    text-align: center;
    text-shadow: #e21e1e;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.content {
    padding: 16px;
    color: #424242;
    justify-content: center;
    font-family: "American Typewriter", serif;
    font-weight: lighter;
}

.footer {
    padding: 4px;
    margin: 4px;
    border: 1px dotted black;
    font-family: "American Typewriter", serif;
}

.footer span {
    font-weight: bold;
}

#biography {
    font-size: 16px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#carousel-inner > .carousel-item {
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    display: inline-block;
    overflow: hidden;
}

#attribution {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: left;
    padding: 14px;
}

#linktotimeline .p {
    font-size: 12px;
    font-family: "American Typewriter", serif;
    font-weight: normal;
    text-align: center;
    padding: 14px;
}

#linktotimeline a:link {
    color: black;
}

#linktotimeline a:hover {
    color: darkred;
}

#linktotimeline a:active {
    color: black;
}

#linktotimeline a:visited {
    color: darkred;
}


#carousel {
    object-fit: contain;
    margin: auto;
    justify-content: left;
}

.carousel-control-prev-icon{
    position:-ms-device-fixed;
    top:200px;
    z-index: 5;
}

.carousel-control-next-icon {
    position:-ms-device-fixed;
    top:200px;
    z-index: 5;
}

.carousel-caption { top: 100%; }

#timeline-embed p {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
}

#timeline-embed .tl-credit {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 10px;
    line-height: 12px;
}

#timeline-embed .tl-caption {
    font-family: "American Typewriter", serif; !important
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
}

#timeline-embed .tl-slider-container-mask {
    background-color: #e4d9d9;
}

#timeline-embed h3 {
    color: black;
}

#timeline-embed .tl-timenav {
    background-color: #e4d9d9;
}

#timeline-embed .tl-timemarker-content-container {
    background-color: darkred;
}

#timeline-embed .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    color: white;
    font-family: "American Typewriter", serif;
}

#timeline-embed .tl-timemarker-content-container {
    object-fit: auto;
}
