{% extends 'base_layout.html' %}

{% block title %}
Agatha Christie Biography
{% endblock %}

{% block specific_css %}
<link rel="stylesheet" href="../static/timelinestyle.css">
{% endblock %}
{% block content %}

<div id="title" class="div col-md-12">
    <h1>
        Biography of Agatha Christie
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="mainCarousel w-75 -ml-auto">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Agatha_Christie_with_her_father_Frederick_Alvah_Miller.jpg" class="d-block w-100" alt="agatha with her father">
                            <div class="position-relative text-center">
                                <p>Agatha with her father <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Agatha_Christie_as_a_child_No_1.jpg" class="d-block w-100" alt="agatha as a child">
                            <div class="position-relative text-center">
                                <p>Agatha as a child <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Nurse_at_Ashfield.jpg" class="d-block w-100" alt="agatha as a nurse">
                            <div class="position-relative text-center">
                                <p>Agatha as a nurse, 1915 <br> Wikimedia Commons</p></div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Agatha_Christie.png" class="d-block w-100" alt="agatha portrait">
                            <div class="position-relative text-center">
                                <p>Portrait of Agatha <br> Wikimedia Commons</p></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Biography content goes here -->
            <div id="biography" class="text">
            </div>
        </div>
    </div>
    <div id="attribution" class="div col-md-4">
        <p>Biography source: Open Library, <a href="https://www.openlibrary.org"></a>https://www.openlibrary.org</p>
    </div>
    <div id="linktotimeline" class="div col-md-12">
        <p><a href="timeline" target="_blank">Learn more about events in Agatha's lifetime</a></p>
    </div>
</div>
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="../static/agathabio.js"></script>
{% endblock %}
