{% extends 'base_layout.html' %}

{% block title %}
Christie's Works
{% endblock %}

{% block specific_css %}

<link rel="stylesheet" href="../static/coverstory.css">

{% endblock %}

{% block content %}
<div class="container">

    <h1 class="content-container">The Detection Club and Christie's best known works</h1>
</div>

<div class="container content">
    <div class="literary-club">
        <h2>A journey into the mysterious world of Agatha Christie</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/The_Detective_Club_Meeting.jpg" alt="Literary Detection Club Image" class="img-fluid">
        <p>The Detection Club, established in 1930, was an association of British crime writers. Its founding members included renowned authors such as Agatha Christie, Dorothy L. Sayers, and Anthony Berkeley. The club was formed with the aim of promoting the writing of detective fiction and fostering collaboration among its members.</p>
        <p>One of its unique features is the initiation ritual, which involves taking a solemn oath to adhere to certain principles of fair play in detective fiction. Over the years, the Detection Club has played a significant role in shaping the genre of detective fiction and continues to be a respected institution in the literary world.</p>
        <p>With intricate plots, well-developed characters, and adherence to the principles of fair play in detective fiction, these novels embody the essence of the genre as championed by the club's founding members. Aspiring writers and fans alike can draw inspiration from these timeless classics while also appreciating their significance within the context of the Detection Club's legacy.</p>
        <p>Learn more about the Detection Club on <a href="https://en.wikipedia.org/wiki/Detection_Club" target="_blank">here</a>.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recommendations-container">
                    <p>Here are our top ten recommendations for Agatha Christie's books:</p>
                    <div class="recommendations-list">
                        <ul class="column">
                            <li>The Mysterious Affair at Styles</li>
                            <li>The Murder of Roger Ackroyd</li>
                            <li>The Murder at the Vicarage</li>
                            <li>Murder on the Orient Express</li>
                            <li>The ABC Murders</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Jewett_typewriter_from_advertisement.jpg/640px-Jewett_typewriter_from_advertisement.jpg" alt="Typewriter" class="img-fluid typewriter-image">
                <div class="recommendations-container">
                    <div class="recommendations-list">
                        <ul class="column">
                            <li>Death on the Nile</li>
                            <li>And Then There Were None</li>
                            <li>Evil Under the Sun</li>
                            <li>The Body in the Library</li>
                            <li>Crooked House</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
            <div class="carousel-inner" id="carouselItems">
                <!-- Add carousel items here -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block specific_js %}
<script src="../static/updatescoverstory.js"></script>

{% endblock %}
